/*
* _variables
*/

/* baseline font */
$baseline: 16px;

/* media queries */
$mobile-min-break: 768px;
$tablet-min-break: 769px;
$tablet-max-break: 1279px;
$desktop-min-break: 1280px;
$desktop-max-break: 1919px;
$display-min-break: 1920px;

/* inline alert box */
$alert-box: #FF0C02;
$alert-box-font-color: #fff;

/* content regions */
$grey-bkgd-color: #DBE2E9;
$footer-bkgd-color: #44535D;